name: On-push action
run-name: Push to test-repo by @${{ github.actor }}
on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - 'CHANGELOG.md'
jobs:
  check-changelog-changes:
    name: Validate changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a script
        run: |
          echo "job: running script to check changed files:"
          chmod +x ./.github/workflows/auto-check-changed-files.sh
          ./.github/workflows/auto-check-changed-files.sh
          echo "job: Done"
